* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1EBFC1;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 108px;
    line-height: 68px;
    border-radius: 6px;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ========================== Header ========================== */
.header {
    background-color: #fff;
    padding: 5px 0;
}

.header.fixed {
    position: sticky;
    top: -43px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 52px 0 8px;
}

.header .action-link {
    margin-right: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #494949;
}

.header .action-link:hover {
    text-decoration: underline;
    color: var(--primary-color);
    transition: 0.5s;
}

.header .nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
    margin-right: 177px;
}

.nav li a {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 8px 20px;
    line-height: 1.5;
    color: #2F3A3B;
}

.nav li a:hover,
.nav li.active {
    text-shadow: 1px 0 0 currentColor;
    color: #2F3A3B;
    transition: 0.5s;
}

.header .action-btn {
    line-height: 48px;
    border: 1px solid var(--primary-color);
    background-color: #fff;
    color: var(--primary-color);
}

.header .action-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
    transition: 1s;
}

/* ========================== Hero ========================== */
.hero {
    margin-top: 50px;
}

.hero .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero .content-block {
    margin-right: 71px;
    width: 40%;
}

.hero .sub-title {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #767E7E;
}

.hero .heading {
    margin-top: 18px;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16;
    color: #0D1111;
}

.hero .desc {
    width: 374px;
    margin-top: 46px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
    color: #9DA6A5;
}

.hero .hero-cta-block {
    margin-top: 56px;
    display: flex;
    gap: 50px;
}

.hero .hero-btn {
    margin-top: 52px;
    min-width: 186px;
    font-size: 1.8rem;
}

.hero .hero-btn:hover {
    opacity: 0.8;
}

.hero .play-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
    background: #ffffff;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.hero .play-block:hover {
    transform: scale(0.9);
    transition: 0.5s;
    opacity: 0.8;
}

.hero .media-block {
    position: relative;
    width: 50%;
}

.hero .hero-img {
    /* position: relative; */
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero .hero-courses {
    position: absolute;
    top: 149px;
    left: -40px;
    display: flex;
    align-items: center;
    width: 157px;
    height: 75px;
    padding: 17px 25px 18px;
    border-radius: 18px;
    background-color: #FEFEFD;
    box-shadow: 0px 10px 80px 0px #0000000D;
}

.hero .hero-courses::before,
.hero .hero-courses::after {
    content: "";
    display: inline-block;
}

.hero .hero-courses::before {
    width: 38px;
    height: 40px;
    border-radius: 5px;
    background-color: #FF8282;
}

.hero .hero-courses::after {
    position: absolute;
    top: 46px;
    left: 27px;
    width: 28px;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
}

.hero .hero-courses .label {
    margin-left: 16px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #0D1111;
}

.hero .hero-schedules {
    position: absolute;
    bottom: 46px;
    left: -65px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 124px;
    height: 132px;
    padding: 16px 25px 23px;
    border-radius: 24px;
    box-shadow: 0px 10px 80px 0px #0000000D;
    text-align: center;
    background-color: #fff;
}

.hero .hero-schedules .label {
    font-size: 1rem;
    font-weight: 500;
    color: #0D1111;
}

.hero .hero-schedules .img-1 {
    margin-top: 16px;
}

.hero .hero-schedules .img-2 {
    margin-top: 12px;
}

.hero .hero-schedules .img-3 {
    margin-top: 10px;
}

.hero .hero-schedules .img-4 {
    margin-top: 16px;
}

.hero .hero-students {
    position: absolute;
    bottom: 41px;
    right: 54px;
    width: 209px;
    height: 90px;
    padding: 17px 35px;
    border-radius: 24px;
    background-color: #FEFEFD;
    box-shadow: 0px 12px 80px 0px #0000000D;
}

.hero .hero-students .label-students {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #0D1111;
}

.hero .hero-students .students-list {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .hero-students .avatar-student {
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
}

.hero .hero-students .block-student {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.hero .hero-students span.students {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}

.avatar-student + .avatar-student,
.hero-students .block-student {
    margin-left: -7px;
}

/* ========================== Features ========================== */
.features {
    padding: 130px 0 65px;
}

.features .main-features {
    width: 1024px;
    margin-left: calc((100vw - 1170px) / 2);
}

.features-top {
    width: 591px;
}

.features-top .sub-title {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5;
    color: #767E7E;
}

.features-top .heading {
    margin-top: 18px;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33;
    color: #0D1111;
}

.features-top .desc {
    margin-top: 18px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #767E7E;
}

.features-list {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.features-list .background-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 106px;
    border-radius: 20px;
    background-color: #FFC147;
}

.features-list .title {
    margin-top: 26px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    color: #0D1111;
}

.features-list .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0em;
    text-align: left;
    color: #9DA6A5;
}

.features-list .feature-item-1 {
    width: 168px;
}

.features-list .feature-item-2,
.features-list .feature-item-3 {
    width: 223px;
}

.feature-item-2 .background-icon {
    background-color: #FF947A;
}

.feature-item-3 .background-icon {
    background-color: #BF83FF;
}

/* ========================== Courses ========================== */
.courses .main-content {
    margin-top: 130px;
}

.courses .sub-title {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5;
    color: #767E7E;
}

.courses .heading {
    margin-top: 18px;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.5;
    color: #0D1111;
}

.courses .details {
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
}

.courses-top .desc {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
    color: #767E7E;
}

.courses-top .link {
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: underline;
    color: #1EBFC1;    
}

.courses-top .link:active {
    opacity: 0.8;
}

.courses-list {
    display: flex;
    margin-top: 79px;
    gap: 47px;
}

.course-item:hover {
    cursor: pointer;
}

.courses .image {
    width: 359px;
    height: 393px;
    border-radius: 8px;
    object-fit: cover;
    opacity: 0.75;
}

.courses .info {
    position: relative;
    top: -71px;
    width: 325px;
    padding: 18px 25px 29px;
    margin-left: 17px;    
    border-radius: 8px;
    background-color: #fff;
}

.courses .info:hover {
    box-shadow: 0px 16px 90px 0px #0000000D;
}

.course-item .name-course a {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.5;
    color: #0D1111;
}

.course-item .cost {
    margin-top: 16px;
    font-size: 1.6rem;
    font-weight: 400;
    color: #767E7E;
}

.course-item .cost strong {
    font-size: 2.2rem;
    font-weight: 700;
    color: #0D1111;
}

.course-item .desc-course {
    margin-top: 6px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #9DA6A5;
}

.course-item .limit {
    margin-top: 18px;
    display: flex;
    gap: 10px;
}

.course-item .quantity,
.course-item .time {
    font-size: 1.4rem;
    font-weight: 400;
    color: #9DA6A5;
}

.course-item .time::before,
.course-item .quantity::before {
    position: relative;
    top: -2px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #1EBFC1;
}

/* ========================== Numbers ========================== */
.numbers {
    padding: 132.5px 0;
}

.numbers .numbers-container {
    width: 862px;
}

.numbers .body {
    display: flex;
    gap: 200px;
}

.number-span,
.number-label {
    display: block;
    text-align: center;
}

.number-span {
    font-size: 6.2rem;
    font-weight: 700;
    color: #0D1111;
}

.number-label {
    margin-top: 11px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #767E7E;
}

/* ========================== Feedback ========================== */
.feedback {
    padding-top: 60px;
    margin-top: 204px;
}

.feedback .body {
    display: flex;
}

.feedback .feedback-content {
    width: 419px;
    margin: 37px 72px 37px 0;
}

.feedback-content blockquote {
    margin-top: 27px;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5D6564;
}

.feedback-content .author {
    display: flex;
    align-items: center;
    margin-top: 33px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #767E7E;
}

.feedback-content .author strong {
    font-weight: 500;
    color: #070707;
}

.feedback-content .author::before {
    margin-right: 5px;
    content: "";
    display: inline-block;
    width: 8px;
    height: 2px;
    background-color: #070707;
}

/* .feedback-content .control {
    margin-top: 52px;
} */

.feedback-content .control-btn {
    margin-top: 52px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    background-color: var(--primary-color);
    border: none;
}

.feedback-content .control-btn:first-of-type {
    margin-right: 30px;
}

.feedback-content .control-btn:hover {
    cursor: pointer;
    transform: scale(0.9);
    opacity: 0.8;
    transition: 0.5s;
}

.feedback .feedback-image {
    position: relative;
    width: 58%;
}

.feedback-image .avatar {
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-image .avatar:first-child {
    top: 107px;
    right: 171px;
    width: 235px;
    height: 235px;
}

.feedback-image .avatar:nth-child(2) {
    top: 19px;
    right: 0;
    width: 110px;
    height: 110px;
}

.feedback-image .avatar:nth-child(3) {
    top: 0;
    left: 144px;
    width: 92px;
    height: 92px;
}

.feedback-image .avatar:nth-child(4),
.feedback-image .avatar:nth-child(5),
.feedback-image .avatar:nth-child(6) {
    width: 78px;
    height: 78px;
}

.feedback-image .avatar:nth-child(4) {
    left: 0;
    bottom: 145px;
}

.feedback-image .avatar:nth-child(5) {
    bottom: 0;
    left: 212px;
}

.feedback-image .avatar:nth-child(6) {
    bottom: 29px;
    right: 32px;
}





